<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>Jill Smith</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Sudno</td>
            <td>50</td>
        </tr>
        <tr>
            <td>DK</td>
            <td>50</td>
        </tr>
        <tr>
            <td>Ice Cube</td>
            <td>50</td>
        </tr>
        <tr>
            <td>G-eazy</td>
            <td>50</td>
        </tr>
    </table>
</body>
</html>